section(data-transition='linear', data-background-transition='slide')
  section
    h5 #{prettySemester}
    h2 #{text}
    ul
      li
        strong(class=semester + tag + 'SectionsPerDepartmentTotal')
        |   Sections
      li
        strong(class=semester + tag + 'ClassesPerDepartmentTotal')  
        |   Courses
      li
        strong(class=semester + tag + 'SectionsPerDepartmentCount') 
        |   Departments
  mixin subtext
    h6(style="margin-top: 50px; font-size: 20px;") #{text}
    h5 #{prettySemester}

  - each column in columns
    section
      h2 #{camel(column.tag)}
      p
        | Average of #{camel(column.tag)}
        strong(class=semester + tag + column.tag + 'Avg')
      canvas(id=semester + tag + column.tag + 'Top', width='800', height='400')
      +subtext
      
    section
      h2 #{camel(column.tag)}
      p
        | Standard deviaton of #{camel(column.tag)}
        strong(class=semester + tag + column.tag + 'Stdev')
      canvas(id=semester + tag + column.tag + 'Histogram', width='800', height='400')
      +subtext
